body {
    background-color: #F8EDE3;
}

th {
    background-color: #D0B8A8;
}

td {
    background-color:#DFD3C3;
}

input[type="text"] {
    width: 250px;
}

select[id="Workshop"] {
    width: 260px;
}